 @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-font-family:
    "Untitled Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  --code-font-family:
    "Sohne Mono",
    "Menlo",
    monospace,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--default-font-family);
}

body > main {
  flex: 1;
}

code,
pre,
kbd,
samp {
  font-family: var(--code-font-family);
}

@theme {
  /* Cores personalizadas */
  --color-background-cinza: #666666;
  --color-background-branco: #f3f3f3;
  --color-background-azul-royal-profundo: #2c3fa6;
  --color-background-azul-escuro-vibrante: #3550b8;
  --color-background-azul-medio-escuro: #4361cb;
  --color-background-azul-real-vibrante: #3b55c2;

  /* Fonte personalizada */
  --font-sans: Arial, sans-serif;
}
